@import './base.css';

body {
  background-color: var(--color-background);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

:root {
  --color-background: #fcfcfc;
  --color-error: #ff0000;
  --color-primary: #eb348b;
  --color-secondary: #00a3e0;
  --color-tertiary: #949494;
  --color-tertiary-light: #b3b3b3;
  --color-tertiary-lighter: #d1d1d1;
  --color-tertiary-dark: #767676;
  --color-tertiary-darker: #585858;
}
